{
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "no-var": "error",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off", // removed from eslint 2.0
    "@typescript-eslint/consistent-type-assertions": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "prettier/prettier": "error"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "@typescript-eslint"
  ]
}
